.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    /* Ajoutez d'autres styles de titre ici */
  }
  
  .modal-details {
    font-size: 16px;
    color: #555;
    /* Ajoutez d'autres styles de détails ici */
  }
  
  .btn-add-to-cart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
    /* Ajoutez d'autres styles pour le bouton ici */
  }
  .modal-price {
    font-size: 20px; /* Ajustez la taille du prix selon votre préférence */
    font-weight: bold; /* Mettre en évidence le prix */
    color: #ff5733; /* Couleur du prix */
    margin-bottom: 10px; /* Espacement vers le bas */
  }
