/* App.css or YourComponent.css */
.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .payment-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .payment-form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .payment-form p {
    color: #555;
    margin: 5px 0;
  }
  
  .payment-form .StripeCheckout {
    margin-top: 20px;
  }
  
  .StripeCheckout button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .StripeCheckout button:hover {
    background-color: #45a049;
  }
  